*, *:before, *:after {
    box-sizing: border-box;
}

.grid {
    width: 100%;
}

.row {
    margin-bottom: 1em;
}

.grid, .row, [class*="-col"] {
    padding: 0;
    margin: 0;
}

.grid:after, .row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
  margin-bottom: 1em;
}

.row:last-child {
  margin-bottom: 0;
}

[class*="-col"] {
  float: left;
  margin-right: 1.5%;
}

[class*="-col"]:last-child {
    margin-right: 0;
}

.one-col {
  width: 6.958%;
}

.two-col {
  width: 15.41%;
}

.three-col {
  width: 23.87%;
}

.four-col {
  width: 32.33%;
}

.five-col {
  width: 40.79%;
}

.six-col {
  width: 49.25%;
}

.seven-col {
  width: 57.70%;
}

.eight-col {
  width: 66.16%;
}

.nine-col {
  width: 74.62%;
}

.ten-col {
  width: 83.08%;
}

.eleven-col {
  width: 91.54%;
}

.twelve-col {
  width: 100%;
}

#header {
  background-color: yellow;
  padding: 5px 0;
  height: 45px;
  line-height: 38px;
}

#brand {
  font-size: xx-large;
  font-family: cursive;
  font-weight: bold;
  color: gray;
  float: left;
  display: inline-block;
}

#share {
  font-size: small;
  float: right;
  color: gray;
  display: inline-block;
}

#left {
  background-color: black;
}

#right {
  
}

#cardHeader {
  text-align: center;
  background-color: yellow;
  height: 30px;
  line-height: 30px;
}

.leftArrow,
.cardHeader,
.rightArrow {
  display: inline-block;
}

.leftArrow {
  float: left;
}

.rightArrow {
  float: right;
}

.cardHeader {

}

.mainTitle,
.author,
.date {
  color: white;
}

.mainTitle {
  font-weight: bold;
  font-size: large;
  font-family: sans-serif;
}

.author {
  font-size: small;
}

.date {
  font-size: small;
}

.title {
  font-weight: bold;
  font-size: large;
}

#cardContent p {
  margin: 15px 0;
}